#root{
  background-color: transparent;
  background-image: url(boxes.png)
}
h1{
  color: black;
  font-weight: bolder;
}

.nav-link{
  font-weight: bolder;
  font-size: medium;
  float: right;
}
label{
  font-weight: bolder;
}
#login{
  margin: 10px;
}
input:hover{
  color:black;
}
a:hover {
  opacity: 0.8;
  color: green;
} 
Button:hover{
  color: green;
}